apiVersion: elemental.cattle.io/v1beta1
kind: ManagedOSImage
metadata:
  name: workers-upgrade
  namespace: fleet-default
spec:
  managedOSVersionName: "v1.1.5"
  drain: true
  cordon: true
  nodeSelector:
    matchExpressions:
    - key: cores 
      operator: In
      values: [ "2" ]
  clusterTargets:
    - clusterName: vulcano
